
<div class="container">
	<h1>User Module</h1>

	<!-- Below block of code generation Action options on web page -->
	<form (ngSubmit)="onSubmitGet()" #userForm="ngForm">
		<b>{{message}}</b>
		<br>
		<input name="action"  [(ngModel)]="action.method" type="radio" value="Update" /> Update
		<input name="action" [(ngModel)]="action.method" type="radio" value="View" /> View
		<input name="action" [(ngModel)]="action.method" type="radio" value="Create" /> Create
		<input name="action" [(ngModel)]="action.method" type="radio" value="Delete" /> Delete
	</form>
	
	<!-- Below code show USer ID field only if operation involving seraching of user ID. Like Update/Vide/Delete need search -->
	<form (ngSubmit)="onSubmit()" #userForm="ngForm"  >
		
		<div class="form-group" *ngIf="action.method == 'Update' || action.method == 'View' || action.method == 'Delete'">
			<label for="userId"  >User ID</label>
			<input type="text"  (keyup)="onActionGet()" size=20 class="form-control" id="userId" required [(ngModel)]="model.userId" name="userId" #userId="ngModel">
		</div>

		<br>
	
		<!-- Below fieldset is written from the perspective that all field can be disabled/enabled/visible/hidden in one go -->
		<fieldset class="form-group"  *ngIf="action.method == 'Create' || action.submethod == 'View'" > 
	
	<!-- Below code has all data fields on form -->
		<div >
			<label for="firstName" >First Name</label>
			<input type="text" size=20 class="form-control"  id="firstName" required [(ngModel)]="model.firstName" name="firstName" #firstName="ngModel">
			
			<label for="middleName">Middle Name</label>
			<input type="text" size=20 class="form-control" id="middleName" required [(ngModel)]="model.middleName" name="middleName" #lastName="ngModel">

			<label for="lastName">Last Name</label>
			<input type="text" size=20 class="form-control" id="lastName" required [(ngModel)]="model.lastName" name="lastName" #lastName="ngModel">

			<div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
				First Name is required
			</div>

			<div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
				Last Name is required
			</div>
			
		</div>
		<br>

		<div class="form-group" >
			<label for="emailId">Email Id</label>
			<input type="text" class="form-control" id="username" required [(ngModel)]="model.username" name="username" #username="ngModel">
			
			<label for="dob">Date of Birth</label>
			<input type="text" class="form-control" id="dob" required [(ngModel)]="model.dob" name="dob" #dob="ngModel">
		
		</div>		
		<br>
		<div class="form-group" >
			<label for="address1">address1</label>
			<input type="text" class="form-control" id="address1" required [(ngModel)]="model.address1" name="address1" #address1="ngModel">
			
			<label for="address1">address2</label>
			<input type="text" class="form-control" id="address2" required [(ngModel)]="model.address2" name="address2" #address2="ngModel">
	
		</div>		
		<br>
		<div class="form-group" >
			<label for="city">city</label>
			<input type="text" class="form-control" id="city" required [(ngModel)]="model.city" name="city" #city="ngModel">
			
			<label for="state">state</label>
			<input type="text" class="form-control" id="state" required [(ngModel)]="model.state" name="state" #state="ngModel">
	
			<label for="state">country</label>
			<input type="text" class="form-control" id="country" required [(ngModel)]="model.country" name="country" #name="ngModel">
	
			<label for="state">zip</label>
			<input type="text" class="form-control" id="zip" required [(ngModel)]="model.zip" name="zip" #zip="ngModel">
	
		</div>	
		<br>
		<!-- Button is outside of fieldset tag so that it can be enabled/disabled as needed -->
	<button type="submit" *ngIf="action.method == 'Update' || action.method == 'Create' || action.method == 'Delete'" class="btn btn-success" >Perform Action</button>
	
	</fieldset>

	</form>
</div>

